

/* search input box starts*/
.input-search-form{
    color: #555;
    display: flex;
    padding: 2px;
    border: 1px solid currentColor;
    border-radius: 5px;
    margin: 0 0 30px;
    height: 2rem;
    width: 90%;
   margin: 20px 15px 20px 15px;
  }
  
  .input-search {
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 90%;
  }
  
  .input-search::placeholder {
    color: #bbb;
  }
  
  .search-icon {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .search-icon:hover {
    opacity: 1;
  }
/* search input box ends*/

  
/* left menu data starts*/
  .table-grid{
    display: grid;
    grid-template-columns: 3fr 9fr;
    border: 1px solid grey;
  }
  .active-row{
    background-color: #dddddd;
  }

  .left-search-box{
    border-right: 1px solid grey;
  }
 
  .table-data{
    display: grid;
    grid-template-columns: repeat(2,6fr);
    column-gap: 30px;
    margin: 20px;
    cursor: pointer;
  }

  .data-1{
    font-size: 17px;
    font-weight: 600;
  }

  .data-2{
    font-size: 17px;
    text-align: end;
  }

  .data-3{
    font-size: 13px;
    color: gray;
    margin-top: 7px;
  }

  .data-4{
    font-size: 13px;
    color: red;
    text-align: end;
    margin-top: 7px;
  } 
 /* left menu data ends*/
  

/* right menu data starts*/
  .percentage-data{
    color: red;
    margin-left: 10px;
  }
  .value-data{
    font-size: 22px;
    font-weight: 600;
    margin: 10px 0px 0px 0px;
  }
  .high-value{
    font-size: 25px;
    font-weight: 600;
    margin: 3px 0px 0px 0px;
  }
  .high-name{
    margin: 10px 0px 0px 0px;
  }

  .right-menu{
    padding-left: 30px;
  }

  .volume-data{
    display: flex
  }
  .volume-data-div{
    padding: 10px;
  }
/* right menu data ends*/